.app.dark .system-add-container,
.system-add-container {
  margin-top: 64px !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0px !important;
  box-shadow: none !important;
  background-image: none !important;
  background-color: transparent !important;
  position: relative !important;
  max-width: 100vw !important;
  height: 90vh;
  align-items: center !important;
}

.app.dark .system-add-big-header,
.system-add-big-header {
  font-size: 4rem !important;
  font-weight: 600 !important;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 20px 0px 20px !important;
}

.app.dark .system-add-main-div-class,
.system-add-main-div-class {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.app.dark .system-add-direction-row,
.system-add-direction-row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.app.dark .system-add-form,
.system-add-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 100px;
}

.app.dark .system-add-calender,
.system-add-calender {
  width: inherit !important;
}

.css-1wfv7j2.Mui-selected,
.css-1637zkn.Mui-selected {
  background-color: #4f7d55 !important;
}
