.app.dark .malzemeler-main-container,
.malzemeler-main-container {
  margin-top: 64px !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0px !important;
  box-shadow: none !important;
  background-image: none !important;
  background-color: transparent !important;
  position: relative !important;

  max-width: 100vw !important;
  height: 90vh;
  align-items: center !important;
}

tr.MuiTableRow-root:hover {
  /* background-color: rgba(255, 255, 255, 0.08); */
  background-color: rgb(79, 125, 85, 0.2);
}
.MuiTableContainer-root {
  overflow-x: auto !important;
  overflow-y: visible !important;
}
.app.dark .malzeme-delete-icon,
.malzeme-delete-icon {
  color: white !important;
}

.app.dark .malzeme-delete-icon:hover,
.malzeme-delete-icon:hover {
  color: #cecece !important;
}

.app.dark .malzeme-edit-icon,
.malzeme-edit-icon {
  color: white !important;
}

.app.dark .malzeme-edit-icon:hover,
.malzeme-edit-icon:hover {
  color: #cecece !important;
}

.app.dark .no-malzeme-empty-message,
.no-malzeme-empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
  font-size: larger !important;
  font-weight: 800 !important;
}

.css-1jjkkyv {
  background-color: #282828;
}

.sticky-pagination {
  position: sticky !important;
  bottom: 0 !important;
  z-index: 10 !important;
  background-color: #1f1f1f !important;
}

.app.dark .malzemeler-table-main-container,
.malzemeler-table-main-container {
  margin-bottom: 30px !important;
  border-radius: 8px !important;
  width: calc(100% - 48px) !important;
  background-color: transparent !important;
  scrollbar-width: thin !important;
}

.app.dark .malzemeler-main-big-header,
.malzemeler-main-big-header {
  font-size: 2rem !important;
  font-weight: 600 !important;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 0px 20px !important;
}

.malzemeler-sticky-header {
  background-color: transparent !important;
  z-index: 10 !important;
}

.MuiTableRow-root {
  /* z-index: 1; */
  position: relative !important;
}

.malzeme-add-button-in-header:hover {
  background-color: rgb(79, 125, 85, 0.2) !important;
}


.malzemeler-page-header-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.malzemeler-page-search-bar {
  max-width: 400px;
  width: 400px;
  right: 0;
  position: absolute;
  padding: 40px;
  margin-top: 10px;
  margin-right: 25px;
}

.highlight {
  background-color: var(--highlight-color) !important;
  font-weight: bold;
}