.mevzi-alty-table-title {
    color: white !important;
}

.mevzi-ip-page-search-bar {
    margin-right: 25px;
    margin-top: 20px;
    max-width: 400px;
    position: absolute;
    right: 0;
    width: 400px;
}

.mevziler-ip-table-main-container {
    background-color: initial !important;
    border-radius: 8px !important;
    margin-bottom: 30px !important;
    scrollbar-width: thin !important;
    width: calc(100% - 48px) !important;
    margin-top: 30px;
}