.app-dark .mevzi-sliding-panel,
.mevzi-sliding-panel {
    position: absolute;
    top: calc(((100% - 64px) / 2) + 64px);
    right: 0;
    width: 40px;
    z-index: 10;
    background-color: var(--mevzi-panel-bg);
    height: calc((100% - 64px) / 2);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.app-dark .mevzi-sliding-panel.open,
.mevzi-sliding-panel.open {
    height: 100%;
    width: 30vw;
    top: 64px;
    z-index: 5;
}


.app-dark .mevzi-toggle-button,
.mevzi-toggle-button {
    position: absolute !important;
    /* left: -40px; */
    border-radius: 0% !important;
    background-color: #4f7d55 !important;
    box-shadow: 0 0 5px #0006;
}

.app-dark .mevzi-panel-content,
.mevzi-panel-content {
    writing-mode: vertical-rl;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 7px;
    display: flex;
    justify-content: start;
    /* height: calc((100% - 64px) / 2); */
    color: rgb(255, 255, 255);
    font-weight: 800 !important;
    font-size: 20px !important;
    height: fit-content;
}


.app-dark .mevzi-panel-scroll,
.mevzi-panel-scroll {
    overflow-y: auto;
    max-height: calc(100% - 64px);
    box-shadow: none !important;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-right: 40px;
    scrollbar-width: none;
}

.app.dark .mevzi-panel-all-list,
.mevzi-panel-all-list {
    display: flex;
    align-items: center;
}

.css-sjiyiz {
    margin: 0px !important;
    color: white !important;
}


.app.dark .mevzi-panel-empty-message,
.mevzi-panel-empty-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px !important;
    font-size: larger !important;
    font-weight: 800 !important;
}

.app-dark .mevzi-hover-effect-link,
.mevzi-hover-effect-link {
    font-size: 25px !important;
    font-weight: 800 !important;
    padding: 20px 20px 10px 20px !important;
}


.app-dark .mevzi-hover-effect-link:hover,
.mevzi-hover-effect-link:hover {
    background-color: rgb(255, 255, 255, 0.1);
    cursor: pointer;
}

.mevzi-directing-icon-style {
    padding: 0px !important;
    margin: 0 0 5px 5px !important;
}

.mevzi-directing-icon-style:focus {
    background-color: transparent !important;
}


.mevzi-sliding-panel-header {
    width: 40px;
    transition: all 0.5s ease-in-out;
}

.mevzi-sliding-panel-header.open {
    background-color: #4f7d55;
}

.highlight {
    background-color: var(--highlight-color) !important;
    font-weight: bold;
}