.app.dark .styled-toolbar,
.styled-toolbar {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
}

.app.dark .styled-right-toolbar,
.styled-right-toolbar {
    justify-content: flex-end !important;
    flex-grow: 1;
    display: flex;
}

.app.dark .search-bar-search-logo,
.search-bar-search-logo {
    font-size: 40px;
    font-style: normal;
    font-weight: 1000;
    cursor: pointer;
}