.app.dark .malzeme-edit-container,
.malzeme-edit-container {
  margin-top: 64px !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0px !important;
  box-shadow: none !important;
  background-image: none !important;
  background-color: transparent !important;
  position: relative !important;
  max-width: 100vw !important;
  height: 93vh;
  align-items: center !important;
}

.app.dark .malzeme-edit-main-div-class,
.malzeme-edit-main-div-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.app.dark .malzeme-edit-left-div,
.malzeme-edit-left-div {
  /* background-color: var(--system-panel-bg); */
  height: 99vh;
  left: 0;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 18vw;
}

.app.dark .malzeme-edit-right-div,
.malzeme-edit-right-div {
  /* background-color: transparent; */
  margin-top: 64px !important;
  height: inherit;
  width: calc(100% - 18vw);
}

.app-dark .malzeme-edit-scroll,
.malzeme-edit-scroll {
  box-shadow: none !important;
  max-height: calc(100% - 64px);
  overflow-y: auto;
  scrollbar-width: none;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-left: 15px;
}

.app-dark .malzeme-edit-hover-effect-link,
.malzeme-edit-hover-effect-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 18vw;
}

.app-dark .malzeme-edit-big-header,
.malzeme-edit-big-header {
  font-size: 25px !important;
  font-weight: 800 !important;
  padding: 20px 40px;
}

.app-dark .malzeme-edit-hover-effect-link:hover,
.malzeme-edit-hover-effect-link:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.malzeme-edit-icon-style {
  margin: 0 0 5px 5px !important;
  font-size: large;
}

.malzeme-edit-icon-style:focus {
  background-color: transparent !important;
}

.app.dark .malz-edit-all-list,
.malz-edit-all-list {
  align-items: center;
  display: flex;
  border-radius: 20px !important;
  background-color: var(--system-panel-bg);
  margin: 15px 0px;
}

.app.dark .malz-edit-all-list.chosen,
.malz-edit-all-list.chosen {
  background-color: rgb(63 99 68 / 80%);
}

.app.dark .malz-edit-all-list.chosen:hover,
.malz-edit-all-list.chosen:hover {
  background-color: #4f7d55;
  cursor: default;
}

.app-dark .sys-edit-expand-more-less:hover,
.sys-edit-expand-more-less:hover {
  background-color: rgb(255, 255, 255, 0.3) !important;
  cursor: pointer !important;
}

.app-dark .sys-edit-sub-malz-list-class:hover,
.sys-edit-sub-malz-list-class:hover {
  background-color: rgb(255, 255, 255, 0.08) !important;
  cursor: pointer !important;
}

.app.dark .sys-edit-empty-message,
.sys-edit-empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
  font-size: larger !important;
  font-weight: 800 !important;
}

.app-dark .malzeme-edit-list-item,
.malzeme-edit-list-item {
  border-radius: 10px;
}

.app-dark .malzeme-edit-list-item:hover,
.malzeme-edit-list-item:hover {
  cursor: default;
}
